In [16]:
import pandas as pd
import numpy as np
from IPython.display import display, HTML

HTML('<style>.output {flex-direction: row;}</style>')

Data preparation - Assembling -> {merging, concatenating, combining}

In [17]:
# merging

frame1 = pd.DataFrame( {'id':['ball','pencil','pen','mug','ashtray'], 'price': [12.33,11.44,33.21,13.23,33.62]})
frame1

        id  price
0     ball  12.33
1   pencil  11.44
2      pen  33.21
3      mug  13.23
4  ashtray  33.62

In [18]:
frame2 = pd.DataFrame( {'id':['pencil','pencil','ball','pen'], 'color': ['white','red','red','black']})
frame1, frame2

(        id  price
 0     ball  12.33
 1   pencil  11.44
 2      pen  33.21
 3      mug  13.23
 4  ashtray  33.62,
        id  color
 0  pencil  white
 1  pencil    red
 2    ball    red
 3     pen  black)

In [19]:
pd.merge(frame1, frame2)

       id  price  color
0    ball  12.33    red
1  pencil  11.44  white
2  pencil  11.44    red
3     pen  33.21  black

In [20]:
frame1 = pd.DataFrame( {'id':['ball','pencil','pen','mug','ashtray'],
'color': ['white','red','red','black','green'],
'brand': ['OMG','ABC','ABC','POD','POD']})

frame2 = pd.DataFrame( {'id':['pencil','pencil','ball','pen'],
'brand': ['OMG','POD','ABC','POD']})

frame1, frame2

(        id  color brand
 0     ball  white   OMG
 1   pencil    red   ABC
 2      pen    red   ABC
 3      mug  black   POD
 4  ashtray  green   POD,
        id brand
 0  pencil   OMG
 1  pencil   POD
 2    ball   ABC
 3     pen   POD)

In [21]:
pd.merge(frame1, frame2, on='id')

       id  color brand_x brand_y
0    ball  white     OMG     ABC
1  pencil    red     ABC     OMG
2  pencil    red     ABC     POD
3     pen    red     ABC     POD

In [22]:
pd.merge(frame1, frame2, on='brand')

      id_x  color brand    id_y
0     ball  white   OMG  pencil
1   pencil    red   ABC    ball
2      pen    red   ABC    ball
3      mug  black   POD  pencil
4      mug  black   POD     pen
5  ashtray  green   POD  pencil
6  ashtray  green   POD     pen

In [23]:
frame2.columns=['sid','brand']
frame2.columns
frame2

      sid brand
0  pencil   OMG
1  pencil   POD
2    ball   ABC
3     pen   POD

In [24]:
pd.merge(frame1, frame2, left_on='id', right_on='sid')

       id  color brand_x     sid brand_y
0    ball  white     OMG    ball     ABC
1  pencil    red     ABC  pencil     OMG
2  pencil    red     ABC  pencil     POD
3     pen    red     ABC     pen     POD

In [25]:
display(frame1)
display(frame2)

frame2.columns=['id', 'brand']
pd.merge(frame1, frame2, on="id", how='outer')

        id  color brand
0     ball  white   OMG
1   pencil    red   ABC
2      pen    red   ABC
3      mug  black   POD
4  ashtray  green   POD

      sid brand
0  pencil   OMG
1  pencil   POD
2    ball   ABC
3     pen   POD

        id  color brand_x brand_y
0     ball  white     OMG     ABC
1   pencil    red     ABC     OMG
2   pencil    red     ABC     POD
3      pen    red     ABC     POD
4      mug  black     POD     NaN
5  ashtray  green     POD     NaN

In [26]:
pd.merge(frame1,frame2, left_index=True, right_index=True)

     id_x  color brand_x    id_y brand_y
0    ball  white     OMG  pencil     OMG
1  pencil    red     ABC  pencil     POD
2     pen    red     ABC    ball     ABC
3     mug  black     POD     pen     POD

In [27]:
frame_to_pivot = pd.DataFrame(np.arange(9).reshape(3,3), index=['white', 'green', 'red'], columns=['pen', 'ball', 'pencil'])
frame_to_pivot

       pen  ball  pencil
white    0     1       2
green    3     4       5
red      6     7       8

In [28]:
stacked = frame_to_pivot.stack()
stacked

white  pen       0
       ball      1
       pencil    2
green  pen       3
       ball      4
       pencil    5
red    pen       6
       ball      7
       pencil    8
dtype: int32

In [29]:
stacked.unstack(1)

       pen  ball  pencil
white    0     1       2
green    3     4       5
red      6     7       8

In [43]:
results = [12,34,67,55,28,90,99,12,3,56,74,44,87,23,49,89,87]
print(len(results))
bins = [0,25,50,75,100]

results, bins

bin = pd.cut(results, bins)

bin,bin.categories, bin.codes

# print(pd.value_counts(bin))

bin_names = ['unlikely', 'less likely','likely', 'highly likely' ]

named_bin=pd.cut(results, bins, labels=bin_names)

named_bin

17

['unlikely', 'less likely', 'likely', 'likely', 'less likely', ..., 'highly likely', 'unlikely', 'less likely', 'highly likely', 'highly likely']
Length: 17
Categories (4, object): ['unlikely' < 'less likely' < 'likely' < 'highly likely']

In [64]:
simple_array = [2,4,6,8,10,12]

pd.cut(simple_array, 6)

[(1.99, 3.667], (3.667, 5.333], (5.333, 7.0], (7.0, 8.667], (8.667, 10.333], (10.333, 12.0]]
Categories (6, interval[float64, right]): [(1.99, 3.667] < (3.667, 5.333] < (5.333, 7.0] < (7.0, 8.667] < (8.667, 10.333] < (10.333, 12.0]]

In [65]:
pd.qcut(simple_array,6)

[(1.999, 3.667], (3.667, 5.333], (5.333, 7.0], (7.0, 8.667], (8.667, 10.333], (10.333, 12.0]]
Categories (6, interval[float64, right]): [(1.999, 3.667] < (3.667, 5.333] < (5.333, 7.0] < (7.0, 8.667] < (8.667, 10.333] < (10.333, 12.0]]